#praia {
    width: 450px;
    position: absolute;
    top: 20px;
    left: 10px
}

#homem {
    width: 250px;
    position: absolute;
    top: 120px;
    left: 100px;
}

#oculos {
    width: 50px;
    position: absolute;
    top: 150px;
    left: 185px;
}